<div>
    <h2>Available products</h2>
    <p>Choose from our wide range of quality products</p>
    <p>FILTER-FORM</p>
    <table class="table table-striped">
        <caption>{{products.totalItemsCount}} products found</caption>
        <thead>
        <tr>
            <th></th>
            <th>Name {{yourName}}</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="product in products.items">
            <td><img src="./img/sales/noProductPicture.png" alt="X"/></td>
            <td>{{product.name}}</td>
            <td>{{product.price.doubleValue}}</td>
            <td>Add</td>
        </tr>
    </table>
    <P>paginator</P>

    <p><a class="btn" href="#">View details &raquo;</a></p>
</div>
